apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-file-generator-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: log-file-generator
          image: 824124316412.dkr.ecr.us-east-2.amazonaws.com/log_file_generator:latest
